.task {
    border: 3px solid red;

    &__dragged{
    opacity: 0.5;
    }
}

.task-wrap{
    display: flex;
    flex-flow: column;
    justify-content: end;
      
    &__dragged{
        opacity: 0.5;
        margin-top: 20px;
        }
    
    
    &__default{
        min-height: 100px;
        flex-grow: 1;
        }
        
    &__over{
        flex-grow: 2;
        opacity: 0.5;
        background-color: gray;
        }
}