.column{
    border: 2px solid green;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow-y: scroll;

    &_title{
        border: none;
        background-color: none;
    }

    &_title:hover{
        background-color: lightgray;
    }

    &__dragged{
        opacity: 0.5;
        background-color: crimson;
    }
}