.column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: #f0e9e2;
    width: 252px;

    &_title{
        border: none;
        background-color: #d4cfc9;
    }

    &_title:hover{
        background-color: lightgray;
    }

    &__dragged{
        opacity: 0.5;
        background-color: crimson;
    }

    &_task-wrapper{
        overflow-y: scroll;
        min-height: 500px;
        max-height: 500px;
        &::-webkit-scrollbar { width: 0 !important }
        display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    }

    &_create-btn{
        background-color: #f0e9e2;
        border: none;
        text-align: start;
        &:hover{
          background-color: lightgray;
        }
    }

    &_delete-btn{
        background-color: #8A4900;
        border: none;
        color: white;
        &:hover{
          background-color: lightgray;
          color: #8A4900;
        }
    }

    &_edit{
        margin: 0 7px;

        &-btn{
          margin: 0 3px;
          width: 40%;
          font-size: 14px;
          background-color: #808A91;
          border: none;
          color: white;
          &:hover{
              background-color: lightgray;
          }
        }

        &-close{
          margin: 0 5px;
          width: 10%;
          padding: 4px 0 0 0;
          margin-top: 2px;
          border: none;
          background-color: #8A4900;
          color: white;
          &:hover{
              background-color: lightgray;
              color: #8A4900;
          }
        }
    }
}