#root {
    .app-wrapper{
        height: 100%;
    }

    .ant-layout-header {
        background: #fff;
    }

    .ant-layout-content {
        padding: 100px 50px;
        min-height: auto;
    }

    .ant-layout-footer {
        background: #2A4B64;
        color: #fff
    }
}